/* ToastCreator css */

.toastCreator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid var(--black);
  border-radius: 1rem;
  background-color: var(--white);
  color: var(--black);
}

.toastCreatorOptions h5{
  margin: 0;
}

.toastDuration {
  color: var(--black);
  font-size: 0.8rem;
  padding-top: 0;
}

.toastButton {
  all: unset;
  border-radius: 6px;
  padding: 0.5rem 2rem;
  background-color: var(--button);
  color: var(--white);
  cursor: pointer;
}

.toastButton:hover {
  background-color: var(--button-hover);
}

.toastButton:active {
  background-color: var(--button-active);
}