/* ToastMessage css */

.toastMessage {
  text-align: center;
  color: var(--black);
  font-size: 0.8rem;
}

.messages {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: 1rem 0;
}

.topLeft {
  top: 0;
  left: 0;
}

.topRight {
  top: 0;
  right: 0;
}

.bottomLeft {
  bottom: 0;
  left: 0;
}

.bottomRight {
  bottom: 0;
  right: 0;
}

.message {
  margin: 0.2rem 1rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px 10px var(--box-shadow);
  background-color: var(--white);
}

.topLeft .message,
.bottomLeft .message {
  animation: slide-in-left 0.5s;
}

.topRight .message,
.bottomRight .message {
  animation: slide-in-right 0.5s;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}

.messageButton {
  all: unset;
  color: var(--black);
  font-size: 0.9rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.success {
  background-color: var(--green);
}

.error {
  background-color: var(--red);
}

.warning {
  background-color: var(--yellow);
}

.info {
  background-color: var(--blue);
}